@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2023-04-12 00:19:28
 * @version $Id$
 */
:root{
	--clr-bk:#99BD90;
	--clr-box:#CDD3F5;
	--clr-border:#CDD3F5;
}
body{
	background: var(--clr-bk);
}
li{
	list-style: none;
	background: var(--clr-box);
}
.g-box{
	width: 800px;
	border: 20px solid var(--clr-border);
	margin: 20px auto;
}
.m-hd{
	display: flex;
}
.m-hd>li{
	width: 80px;
	height: 80px;
	margin: 20px;
}
.m-hd>li:nth-child(5){
	flex: 1;
	visibility: hidden;
}
.m-bd{
	display: flex;
	padding: 20px 20px 0 20px;
	border-top: 20px solid #CDD3F5;
}
.m-lt{
	display: flex;
	flex-wrap: wrap;
	width: 200px;
	margin-right: 40px;
}
.m-lt>li{
	width: 50px;
	height: 50px;
	margin: 0 25px 20px 0;
}
.m-lt>li:first-child{
	width: 100%;
	height: 300px;
}
.m-lt>li:last-child,m-lt>li:first-child{
	margin-right: 0;
}
.m-rt{
	display: flex;
	flex-direction: column;
	flex: 1;
}
.m-rt>li{
	width: 100%;
	height: 40px;
	margin-bottom: 15px;
}