@import '../node_modules/bootstrap/scss/bootstrap';

body.container {
  background: #eee;
  margin: 0;
  padding: 0;
}
header {
  background: #008def;
}
section.adv {
  padding: 20px 50px;
}

li {
  display: inline-block;
  margin: 0 20px;
  color: white;
  font-size: 10px;
}
li:nth-child(1) {
  margin: 19px 20px 0 60px;
}
.container {
  margin: 0;
  padding: 0;
}
.pic {
  width: 100%;
  height: 300px;
  background: #999;
}

.row {
  margin: 0;
}

.set {
  display: inline-block;
  padding: 2px 5px;
  background: #0069b4;
  border-radius: 3px;
  width: 8px;
  height: 8px;
  border: 4px solid;
  border-color: #666 transparent transparent transparent;
}

.load > .row:nth-child(1) {
  width: 360px;
  display: inline-block;
  text-align: end;
}

.load > .row:nth-child(1) > span {
  font-size: 10px;
  color: white;
}

.load > .row:nth-child(1) :nth-child(1) {
  border-right: 1px solid white;
}


.search-icon>img {
    width: 20px;
    height: 20px;
    transform: translate(-6px, -2px);
}

.search>.col-1 {
    background: white;
    margin: 4px 0 0 0;
}
.search > .col-2 {
  background: #eee;
  margin: 4px 0 0 0;
}

.search > .col-2 > span {
  font-size: 10px;
}

.row.menu {
    padding: 0 50px;
     height: 60px;
}

.search>.col-2 {
    padding: 0 10px;
}


.search > .col-9 {
  background: #fff;
  margin: 4px 0 0 0;
}

.adv > .row > .col-4.container {
  background: #eee;
}

.adv > .row > .col-4 > div {
  text-align: center;
  margin: 30px;
}

.adv > .row > .col-4 > div:nth-child(2) {
  width: 140px;
  height: 30px;
  background: #008def;
  margin: auto;
  margin-bottom: 50px;
  border-radius: 5px;
}

.adv > .row > .col-4 > div:nth-child(3) {
  border-top: 1px dashed;
  padding: 29px 0;
}

.data > span:nth-child(1) {
  color: #008def;
  font-size: 10px;
}

.data > span:nth-child(2) {
  color: #666;
  font-size: 10px;
}

section.list {
  padding: 20px 50px;
}

.title {
  font-weight: bold;
}

p {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.para {
  word-wrap: break-word;
  text-indent: 2em;
}

.read {
  border-right: 1px solid #eee;
  padding: 0 25px 0 0;
}

.application {
  border-right: 1px solid #eee;
  padding: 0 25px 0 0;
}

.know {
  margin: 5px 0 0px 0px;
  position: absolute;
  bottom: 5px;
}

.discuss {
  padding: 0 0 0 25px;
}

.down {
  padding: 0 0 0 25px;
}

.follow {
  padding: 0 0 0 25px;
}

.col-8.container {
  padding: 0;
}

.news {
  padding: 15px;
  height: 200px;
  border-top: 1px solid #666;
  border-left: 1px solid #666;
  position: relative;
}

.news-m {
  padding: 15px;
  height: 300px;
  border-top: 1px solid #666;
  border-left: 1px solid #666;
  position: relative;
}

.picture {
  width: 100%;
  height: 60%;
  background: #999;
  margin: 0 0 5px 0;
}

.video {
  width: 100%;
  height: 60%;
  background: #999;
  margin: 0 0 5px 0;
}

.next {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.more {
  display: flex;
  align-items: center;
}

.more-icon {
  width: 8px;
  height: 8px;
  border-top: 1px solid #999;
  border-right: 1px solid #999;
  transform: rotate(45deg);
}


.title-pic {
  font-weight: bold;
  font-size: 17px;
}
.title-bold {
  font-size: 20px;
  font-weight: bold;
}

span.title-s {
  font-size: 20px;
}

span.title-blue {
  font-size: 20px;
  color: #008def;
}


.ppt {
  background: #ff6b29;
  padding: 2px 3px;
  font: -webkit-control;
  color: white;
  font-weight: bold;
}

.notice {
  border-right: 1px solid #666;
}

.list > .row > .col-8 {
  padding: 0 12px 0 0;
}

.blue-bottom {
  margin: 0 0 20px 0;
  border-bottom: 5px solid #008def;
}
.journal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.journal > div {
  width: 60%;
  height: 80%;
  background: #999;
}


.row.container.news-m.notice > .row:nth-child(1) {
  height: 60px;
  border-bottom: 1px dashed #999;
  padding: 0;
}

.row.container.news-m.notice > .row:nth-child(2) {
  margin: -81px 0 25px 0px;
}

.row.container.news-m.notice {
  border-bottom: 1px solid #999;
}

.row.news.notice > .know {
  text-align: end;
  padding: 0 40px;
}

.row.news.notice > .col-8 > .know {
  right: 20px;
}

.col-4 {
  .row {
    .picture {
      overflow: hidden;

      &::after {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #008def;
        width: 100%;
        height: 25%;
        content: '即将开始';
        color: white;
        transform: translate(44%, -25%) rotate(45deg);
        transform-origin: center;
        font-size: 17px;
      }
    }
  }
}
